.UI.PublicationBlock {
    overflow: hidden;
    position: relative;
    margin-bottom: 17.5px;
    border-radius: var(--border-radius);
    box-shadow: 0 0 10px -5px var(--dark);

    .text {
        padding: 24px;
        display: flex;
        font-size: 12.25px;
        position: relative;
        flex-direction: column;

        .category {
            top: 0;
            right: 24px;
            padding: 8px 15px;
            position: absolute;
            color: var(--white);
            text-transform: uppercase;
            transform: translateY(-50%);
            background-color: var(--green);
            border-radius: var(--border-radius);
        }

        .info {
            display: flex;
            margin-bottom: .5rem;

            .date {
                margin-right: .5rem;
            }

            i {
                color: var(--green);
                margin-right: .25rem;
            }
        }

        .title {
            display: block;
            font-size: 1rem;
            font-weight: 700;
            color: var(--dark);
            transition: all .25s;
            margin-bottom: 1rem;
            text-decoration: none;

            &:hover {
                color: var(--green);
            }
        }

        .read-more {
            font-weight: 700;
            color: var(--orange);
            transition: all .25s;

            &:hover {
                color: var(--dark);
            }

            i {
                margin-left: 4px;
            }
        }
    }
}