:root {
  --app-sidebar-width: 300px;
  --flex-container-height: 650px;
  --border-radius: 4px;
  --border-color: var(--border);

  --app-bg-color: var(--darkblue);
  --app-input-bg-color: var(--midblue);
  --app-primary-color: var(--blue);
  --app-secondary-color: var(--yellow);
  --app-title-color: var(--white);
  --app-text-color: var(--white-75);
  --title-font-family: "Google Sans", var(--font-family-sans-serif);
  --super-font-family: "Roboto Condensed", var(--font-family-sans-serif);



  --transition: all .25s;
  --transition-fast: all .1s;
  --box-shadow: 0 10px 30px -15px var(--black-70);



  --toolbar-top-height: 0px;
  --toolbar-bottom-height: 60px;
  --toolbar-bottom-height-sm: 60px;
  --app-header-height: 78.47px;
  --app-header-height-sm: 60.97px;
  --app-title-height: 81px;
  --app-title-height-md: 71px;
  --app-title-height-sm: 61px;



  --text-font-size: 1rem;
  --text-font-size-md: calc(var(--text-font-size) / 1.1);
  --text-font-size-sm: calc(var(--text-font-size) * .6);

  --banner-font-size: calc(var(--text-font-size) * 80 / 16);
  --banner-font-size-md: calc(var(--banner-font-size) / 1.1);
  --banner-font-size-sm: 56px;

  --icon-font-size: calc(var(--text-font-size) * 50 / 16);
  --icon-font-size-md: calc(var(--icon-font-size) / 1.1);
  --icon-font-size-sm: calc(var(--icon-font-size) * .6);

  --section-font-size: calc(var(--text-font-size) * 60 / 16);
  --section-font-size-md: calc(var(--section-font-size) / 1.1);
  --section-font-size-sm: 38.4px;

  --block-font-size: calc(var(--text-font-size) * 30 / 16);
  --block-font-size-md: calc(var(--block-font-size) / 1.1);
  --block-font-size-sm: calc(var(--block-font-size) * .6);

  --subtitle-font-size: calc(var(--text-font-size) * 25 / 16);
  --subtitle-font-size-md: calc(var(--subtitle-font-size) / 1.1);
  --subtitle-font-size-sm: calc(var(--subtitle-font-size) * .6);
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--app-text-color);

  .title {
    line-height: 1;
    font-weight: 800;
    color: var(--app-title-color);
  }

  .title,
  .btn {
    font-family: var(--title-font-family);
  }

  text {
    font-weight: 800;
    fill: var(--app-text-color);
    font-family: var(--title-font-family);
  }

  hr {
    opacity: .3;
    border-color: var(--border-color);
  }

  .container,
  .container-fluid {
    max-width: 100%;
    padding-left: 25px;
    padding-right: 25px;
  }

  .dropdown-toggle,
  .dropdown-item {
    cursor: pointer;
  }

  .modal-content {
    background-color: var(--app-bg-color);

    .modal-header {
      border-color: var(--border-color);
      font-family: var(--title-font-family);

      button {
        color: inherit;
      }
    }
  }

  ::-moz-selection {
    /* Code for Firefox */
    color: var(--white);
    background: var(--blue);
  }

  ::selection {
    color: var(--white);
    background: var(--blue);
  }
}

.bg-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.badge-block {
  display: block !important;
  border-radius: 2px !important;
  padding: 7px 10px;
  font-weight: 300 !important;
  font-size: 10px;
  text-align: left !important;

  i {
    font-size: 13px;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.full-height-user {
  min-height: calc(100vh - 70px);
}

.full-height-app {
  min-height: calc(100vh - 66px);
}

.owl-nav .owl-prev,
.owl-nav .owl-next {
  background: transparent !important;
  margin: 0px !important;
}

@media (min-width: 768px) {
  .container {
    width: calc(100vw - 120px);
  }

  .container,
  .container-fluid {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (min-width: 1080px) {
  .container {
    width: calc(100vw - 180px);
  }

  .container,
  .container-fluid {
    padding-left: 50px;
    padding-right: 50px;
  }
}