.Frontend .Portfolio {
    section {
        min-height: calc(100vh - var(--toolbar-bottom-height));

        table {
            background-color: transparent;

            thead {
                font-family: var(--title-font-family);
            }

            .year,
            .technologies {
                font-family: var(--super-font-family);
            }

            .technologies {
                span:not(:last-child)::after {
                    content: " · "
                }
            }

            .year {
                color: var(--app-secondary-color);
            }

            .links a {
                color: inherit;
                text-decoration: none;
                transition: var(--transition);

                &:hover {
                    color: var(--app-secondary-color);
                }

                &:not(:last-child) {
                    margin-right: 10px;
                }
            }
        }
    }
}